.dark .ui_buttonbar.janusweb_ui_buttons {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 8px;
  border: 0;
  z-index: 50;
}
.dark .janusweb_voip.state_recording,
.dark .janusweb_voip.state_recording:active {
  background: #090;
}
.dark .janusweb_voip.state_error,
.dark .janusweb_voip.state_error:hover,
.dark .janusweb_voip.state_error:active {
  background: #900;
}
