.janusweb_room_url {
  font-weight: bold;
}
.janusweb_room_source {
  height: 40em;
  width: 60em;
  max-width: 100%;
  max-height: 100%;
}
.janusweb_room_source textarea {
  position: absolute;
  top: 1%;
  bottom: 1%;
  left: 1%;
  right: 1%;
  width: 98%;
}
.janusweb_websurface {
  width: 1000px;
  height: 1000px;
  backface-visibility: hidden;
  pointer-events: all;
}
.janusweb_websurface * {
  pointer-events: all;
}
.janusweb_websurface.state_uninitialized {
  background: #66ff66;
}
.janusweb_websurface.state_uninitialized:hover {
  background: red;
}
.janusweb_websurface iframe {
  width: 1000px;
  height: 1000px;
}
.engine_view .engine_systems_render_css3d {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: scale(1);
  backface-visibility: none;
}
