janus-ui-splash {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 98%;
  max-width: 70em;
  background: rgba(0,0,0,.5);
  border: 1px solid red;
  border-radius: 5px;
  z-index: 500;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
}

janus-ui-splash janus-ui-navigation {
  font-size: 2em;
}
janus-ui-splash ui-tabs {
  clear: left;
}
janus-ui-splash ui-tabs>ui-tabbar>ui-button {
  font-size: 2em;
  font-family: 'Montserrat',sans-serif
}

janus-ui-splash h1 {
  margin-top: 1em;
  font-size: 3em;
  font-family: 'Montserrat',sans-serif;
}
janus-ui-splash .logo {
  width: 12em;
  height: 12em;
  float: left;
}
janus-ui-splash janus-ui-popular ui-grid {
  height: 28em;
}
