@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat');

janus-comms-panel {
  display: flex;
  background: rgba(0,0,0,.5);
  flex-direction: column;
  z-index: 100;
  padding-right: .5em;
  width: 25vw;
  min-width: 20em;
}
janus-comms-panel details>summary {
  cursor: pointer;
  outline: 0;
}
janus-comms-chat ui-list[name="chatlist"] {
  height: 10em;
  overflow-y: scroll;
  font-family: Inconsolata, monospace;
  transform: rotate(0); /* Using an empty transform here forces the browser to composite this element, which fixes bugs which cause elements to disappear while scrolling */
  width: 100%;
}
janus-comms-chat ui-list[name="chatlist"]>ui-item {
  padding: 0;
  text-shadow: 0 0 4px #000;
  border: 0;
}
janus-comms-chat ui-input {
  width: 100%;
  display: flex;
}
janus-comms-chat ui-input>input {
  flex: 1 1;
  background: rgba(64,64,64,.6);
  color: white;
  padding: .25em;
  border: 0;
  border-top: 1px solid #666;
}
janus-comms-chat ui-input>input:hover {
  background: rgba(64,64,64,.8);
}
janus-comms-chat .message {
  display: block;
  text-indent: -1em;
  padding-left: 1em;
}
janus-comms-chat .join,
janus-comms-chat .part,
janus-comms-chat .disconnect {
  color: #999;
  font-weight: normal;
  font-style: italic;
  font-size: .7em;
}
janus-comms-chat .join .userid::before,
janus-comms-chat .part .userid::before,
janus-comms-chat .disconnect .userid::before {
  content: "-!- ";
  color: #999;
}
janus-comms-chat .join .userid {
  color: #9ff;
}
janus-comms-chat .disconnect .userid,
janus-comms-chat .part .userid {
  color: #099;
}
janus-comms-chat .chat,
janus-comms-chat .selfchat {
  color: #aaa;
  font-weight: normal;
}
janus-comms-chat .userid {
  color: #4cb96f;
  font-weight: 900;
}
janus-comms-chat .selfchat .userid {
  color: #fff;
  font-weight: bold;
}
/*
janus-comms-chat .chat .userid::before,
janus-comms-chat .selfchat .userid::before {
  content: '<';
  color: #666;
}
*/
janus-comms-chat .chat .userid::after,
janus-comms-chat .selfchat .userid::after {
  content: ':';
  color: #666;
}
janus-comms-chat .print .userid {
  display: none;
}
janus-comms-chat .print {
  color: white;
}
janus-comms-status {
  display: flex;
  flex-direction: row;
}
janus-comms-status {
  font-size: .8em;
}
janus-comms-status .indicator {
  border: 1px solid black;
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: .5em;
  box-shadow: 0 0 5px black;
  background: #900;
  margin: .2em .4em .2em .2em;
}
janus-comms-status .indicator.connecting {
  background: #990;
}
janus-comms-status .indicator.connected {
  background: #090;
}
janus-comms-status .indicator.disconnecting {
  background: #999;
}
janus-comms-status .indicator.private {
  background: #aaa;
}
ui-list[name="userlist_room"] {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  font-size: .75em;
}
janus-voip-picker>ul li {
  display: flex;
  xflex: 1;
  border: 1px solid black;
  border-radius: 10px;
  background: #666;
  box-shadow: 0 0 5px black;
}
janus-voip-picker>ul li button,
janus-voip-picker>ul li ui-togglebutton,
janus-voip-picker ui-button {
  width: 300px;
  xheight: 100px;
  xbackground: #666;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5em;
  xcolor: white;
  xtext-shadow: 0 0 5px black;
  font-weight: normal;
}
janus-voip-picker ui-button {
  margin-top: 1em;
  border: 1px solid black;
  box-shadow: 0 0 5px black;
  xline-height: 50px;
  xheight: 50px;
}
janus-voip-picker>ul li button:hover {
  xbackground: #777;
}
janus-voip-picker>ul li button:focus {
  background: #6a6;
}
janus-voip-picker>ul li button[disabled] {
  color: #888;
  text-shadow: 0 0 5px #444;
  cursor: not-allowed;

