janus-ui-bookmarks ui-grid>ui-item {
  width: 200px;
  height: 120px;
  position: relative;
  background-image: url(../popular/nopreview.png);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  padding: 0;
  transition: transform 100ms ease-out;
  z-index: 1;
}
janus-ui-bookmarks ui-grid>ui-item:hover {
  transform: scale(1.1);
  z-index: 2;
}
.bookmarkedroom_thumb {
  height: 130px;
  width: 100%;
  object-fit: cover;
}
.bookmarkedroom {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bookmarkedroom h4 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.5);
  color: white;
  text-shadow: 0 0 2px black;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 .2em;
}

