janus-ui-editor-panel {
  font-size: .8em;
  white-space: nowrap;
}
janus-ui-editor-property-vector3,
janus-ui-editor-property-euler {
  display: inline-flex;
  flex-direction: row;
}
.janus_editor ui-input {
  font-size: .8em;
}
.janus_editor ui-input>ui-label {
  padding: .2em;
  vertical-align: middle;
}
.janus_editor ui-input>input {
  width: 100%;
  background: #999;
  border: 0;
  border-bottom: 1px solid black;
  vertical-align: middle;
  height: 1.2em;
  padding: 0 .2em;
}
.janus_editor ui-text {
  flex: none;
  width: 4em;
  padding-right: .5em;
}
.janus_editor ui-text::after {
  content: ':';
}
.janus_editor {
  list-style: none;
}
.janus-editor li {
}
.mode_pos [propertyname='pos'],
.mode_rotation [propertyname='rotation'],
.mode_scale [propertyname='scale'],
.mode_col [propertyname='col'] {
  font-weight: bold;
  color: #0f0;
  text-shadow: 0 0 2px #000;
}
janus-ui-editor-panel ui-togglebutton,
janus-ui-editor-panel ui-button {
  color: white;
  cursor: pointer;
  text-align: center;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;

  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-color: transparent;
  display: inline-block;

  width: 80px;
  height: 20px;
  border-radius: 30px;
  border: 1px solid white;
  margin: 0 .2em;
  padding: 0;
  line-height: 20px;
  font-size: .7em;
  font-weight: bold;
}
janus-ui-editor-button[active] {
  background-image: linear-gradient(#028202, #109112 40%, #199b1d);
}
